<div class="page container flash-help">
<h2>How to Enable Adobe Flash in the Chrome Browser</h2>
<div>
  <p>You must enable Adobe Flash when accessing ERA A+V in the Google Chrome web browser.
    If Flash is not properly setup, you will see a message like this in the video player:
    <div class='flash-help-image'>
      <%= image_tag 'flash_help/flash_error1.png' %>
    </div>
  </p>

  <p>or this message in the video player:
    <div class='flash-help-image'>
      <%= image_tag 'flash_help/flash_error2.png' %>
    </div>
  </p>

  <p>The following steps can help to resolve this issue:</p>

  <h3>Instructions for Chrome</h3>

  <h4>Step 1:</h4>

  <p>Click “Secure” on the left side of your browser’s url
    <div class='flash-help-image'>
      <%= image_tag 'flash_help/flash_enable1.png' %>
    </div>
  </p>

  <h4>Step 2:</h4>

  <p>Once you clicked “Secure”, a drop down menu will appear. Select Flash from the list
    <div class='flash-help-image'>
      <%= image_tag 'flash_help/flash_enable2.png' %>
    </div>
  </p>

  <h4>Step 3:</h4>

  <p>When you select Flash, three sub-options will pop up. Select “Always allow on this site”
    <div class='flash-help-image'>
      <%= image_tag 'flash_help/flash_enable3.png' %>
    </div>
  </p>

  <h3>Instructions for Firefox</h3>

  <p>Please follow the instructions available here:
    <div>
      <%= link_to 'https://helpx.adobe.com/flash-player/kb/enabling-flash-player-firefox.html',
          'https://helpx.adobe.com/flash-player/kb/enabling-flash-player-firefox.html' %>
    </div>
  </p>

  <h3>Instructions for Safari</h3>

  <p>Please follow the instructions available here:
    <div>
      <%= link_to 'https://helpx.adobe.com/flash-player/kb/enabling-flash-player-safari.html',
          'https://helpx.adobe.com/flash-player/kb/enabling-flash-player-safari.html' %>
    </div>
  </p>

  <p>Following these steps should fix the issue. If you are still unable to view the video,
    please contact <a href="mailto:erahelp@ualberta.ca">erahelp@ualberta.ca</a>.</p>
</div>
